{{ $constrainItemsWidth := site.Params.list.constrainItemsWidth | default false }}

<article class="article-item relative {{ if $constrainItemsWidth }}max-w-prose{{ end }}">
  <div class="article-item-inner">
    <div class="article-item-meta relative z-10 text-neutral-400 dark:text-neutral-500">
      {{ partial "article-meta/basic.html" . }}
    </div>
    <header>
      <h2 class="article-item-title">
        <a
          {{ with .Params.externalUrl }}
            href="{{ . }}" target="_blank" rel="external"
          {{ else }}
            href="{{ .RelPermalink }}"
          {{ end }}
          class="not-prose before:absolute before:inset-0 text-neutral-800 dark:text-neutral">
          {{ .Title | emojify }}
          {{ if .Params.externalUrl }}
            <span class="text-xs text-neutral-400 dark:text-neutral-500 align-super">&#8599;</span>
          {{ end }}
        </a>
      </h2>
    </header>
    {{ if and .Draft .Site.Params.article.showDraftLabel }}
      <div class="relative z-10">{{ partial "badge.html" (i18n "article.draft" | emojify) }}</div>
    {{ end }}
    {{ if templates.Exists "partials/extend-article-link.html" }}
      {{ partial "extend-article-link.html" . }}
    {{ end }}
    {{ if .Params.showSummary | default (site.Params.list.showSummary | default false) }}
      <p class="article-item-summary text-neutral-500 dark:text-neutral-400">
        {{ .Summary | plainify | truncate 160 }}
      </p>
    {{ end }}
  </div>
</article>
